use_flake() {
  watch_file flake.nix
  watch_file flake.lock
  watch_file shell.nix 
  eval "$(nix --extra-experimental-features "nix-command flakes" print-dev-env --profile "$(direnv_layout_dir)/flake-profile")"
}

use flake
