[Desktop Entry]
Name=Firefox
GenericName=Firefox
Exec=firefox
Terminal=false
Type=Application
Categories=Application;Network;X-Developer;
Comment=Firefox
